In [66]:
import pandas as pd
from pathlib import Path

school_load= Path("schools_complete.csv")
student_load= Path("students_complete.csv")

school_data = pd.read_csv(school_load)
student_data = pd.read_csv(student_load)

complete_df = pd.merge(student_data, school_data, how ="left", on = "school_name")
complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [69]:
school_count = len(complete_df.school_name.unique())
#if you want the names of the schools and the counts the code below works
#school_count = complete_df["school_name"].value_counts()
school_count

15

In [70]:
student_count=complete_df["student_name"].count()
student_count

39170

In [71]:
total_budget= sum(complete_df["budget"].unique())
total_budget

24649428

In [72]:
average_math_score= complete_df["math_score"].mean()
average_math_score

78.98537145774827

In [73]:
#realized that i could just use a . instead of [""]
average_reading_score = complete_df.reading_score.mean()
average_reading_score

81.87784018381414

In [74]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = complete_df[(complete_df["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [75]:
#passing for reading
passing_reading_count = complete_df[(complete_df["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [77]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = complete_df[
    (complete_df["math_score"] >= 70) & (complete_df["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate


overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [78]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary =pd.DataFrame({"Total Schools": [school_count],
                                "Total Students": [student_count],
                                "Total Budget": [total_budget],
                                "Average Math": [average_math_score],
                                "Average Reading": [average_reading_score],
                                "% Passing Math": [passing_math_percentage],
                                 "% Passing Reading": [passing_reading_percentage],
                               "% Overall Passing": [overall_passing_rate]})
                                

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math,Average Reading,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [79]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]

In [80]:
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [81]:
# Calculate the total student count per school from school_data
#not sure if this is correct, is this supposed to be the same?
per_school_counts = complete_df["school_name"].value_counts()
per_school_counts

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: count, dtype: int64

In [82]:
# Calculate the total school budget and per capita spending per school from school_data
per_school_budget = complete_df.set_index(["school_name"])["budget"]
per_school_budget

school_name
Huang High School     1910635
Huang High School     1910635
Huang High School     1910635
Huang High School     1910635
Huang High School     1910635
                       ...
Thomas High School    1043130
Thomas High School    1043130
Thomas High School    1043130
Thomas High School    1043130
Thomas High School    1043130
Name: budget, Length: 39170, dtype: int64

In [83]:
# Calculate the total school budget and per capita spending per school from school_data

per_school_capita = per_school_budget/per_school_counts
print(per_school_capita)

school_name
Bailey High School    628.0
Bailey High School    628.0
Bailey High School    628.0
Bailey High School    628.0
Bailey High School    628.0
                      ...
Wright High School    583.0
Wright High School    583.0
Wright High School    583.0
Wright High School    583.0
Wright High School    583.0
Length: 39170, dtype: float64

In [84]:
# Calculate the average test scores per school from school_data_complete
per_school_math = complete_df.groupby(["school_name"])["math_score"].mean()
print(per_school_math)

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [85]:
per_school_reading = complete_df.groupby(["school_name"])["reading_score"].mean()
print(per_school_reading)

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [86]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
students_passing_math = complete_df[(complete_df["math_score"]>=70)]

#school_students_passing_math = <- is this another calculation? not sure but will group by school
#print(students_passing_math)
school_students_passing_math = students_passing_math.groupby(["school_name"]).size()
print(school_students_passing_math)

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [87]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
students_passing_reading = complete_df[(complete_df["reading_score"]>=70)]

#school_students_passing_reading = <- is this another calculation? not sure but will group by school
#print(students_passing_reading)
school_students_passing_reading = students_passing_reading.groupby(["school_name"]).size()
print(school_students_passing_reading)

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64

In [88]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = complete_df[
    (complete_df["reading_score"] >= 70) & (complete_df["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [89]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = complete_df[
    (complete_df["reading_score"] >= 70) & (complete_df["math_score"] >= 70)

]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
print(school_students_passing_math_and_reading)

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [91]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math/ per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100
#overall_passing_percentage = (per_school_passing_math + per_school_passing_reading)/2

In [94]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({
    "School Type": school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "% Passing Math": per_school_passing_math,
    "% Passing Reading": per_school_passing_reading,
    "% Overall Passing": overall_passing_percentage})

ValueError: cannot reindex on an axis with duplicate labels

In [ ]:
# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

In [27]:
## Highest-Performing Schools (by % Overall Passing)

In [35]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values("% Overall Passing", ascending=False)
top_schools.head(5)

NameError: name 'per_school_summary' is not defined

In [ ]:
## Bottom Performing Schools (By % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values("% Overall Passing", ascending = True)
bottom_schools.head(5)