In [2]:
import pandas as pd
from pathlib import Path

school_load= Path("schools_complete.csv")
student_load= Path("students_complete.csv")

school_data = pd.read_csv(school_load)
student_data = pd.read_csv(student_load)

complete_df = pd.merge(student_data, school_data, how ="left", on = "school_name")
complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [18]:
school_count = len(complete_df.school_name.unique())
#if you want the names of the schools and the counts the code below works
#school_count = complete_df["school_name"].value_counts()
school_count

15

In [9]:
student_count=complete_df["student_name"].count()
student_count

39170

In [21]:
total_budget= sum(complete_df["budget"].unique())
total_budget

24649428

In [13]:
average_math_score= complete_df["math_score"].mean()
average_math_score

78.98537145774827

In [23]:
#realized that i could just use a . instead of [""]
average_reading_score = complete_df.reading_score.mean()
average_reading_score

81.87784018381414

In [24]:
passing_math_count = complete_df[(complete_df["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [27]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = complete_df[
    (complete_df["math_score"] >= 70) & (complete_df["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [31]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
#i am assuming this is a dataframe for all of the calculations

district_summary =pd.DataFrame({"Total Schools": [school_count],
                                "Total Students": [student_count],
                                "Total Budget": [total_budget],
                                "Average Math": [average_math_score],
                                "Average Reading": [average_reading_score]})
                                

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

   Total Schools Total Students    Total Budget  Average Math  Average Reading
0             15         39,170  $24,649,428.00     78.985371         81.87784

In [44]:
# Use the code provided to select the type per school from school_data
school_types = complete_df.set_index(["school_name"])["type"]

In [45]:
# Calculate the total student count per school from school_data
#not sure if this is correct, is this supposed to be the same?
per_school_counts = complete_df["student_name"].count()
per_school_counts

39170

In [52]:
# Calculate the total school budget and per capita spending per school from school_data
per_school_budget = complete_df.groupby(["school_name"]).mean("budget")
per_school_budget
per_school_capita = per_school_budget/per_school_counts
print(per_school_capita)

                       Student ID  reading_score  math_score  School ID  \
school_name
Bailey High School       0.519747       0.002069    0.001967   0.000179
Cabrera High School      0.432512       0.002144    0.002121   0.000153
Figueroa High School     0.112101       0.002072    0.001958   0.000026
Ford High School         0.923283       0.002061    0.001968   0.000332
Griffin High School      0.331772       0.002140    0.002128   0.000102
Hernandez High School    0.253868       0.002066    0.001973   0.000077
Holden High School       0.588716       0.002140    0.002139   0.000204
Huang High School        0.037222       0.002073    0.001956   0.000000
Johnson High School      0.827547       0.002067    0.001968   0.000306
Pena High School         0.606446       0.002146    0.002140   0.000230
Rodriguez High School    0.715726       0.002061    0.001962   0.000281
Shelton High School      0.172224       0.002137    0.002128   0.000051
Thomas High School       0.979117       0.002141    0.002130   0.000357
Wilson High School       0.379653       0.002144    0.002126   0.000128
Wright High School       0.641703       0.002143    0.002136   0.000255

                           size     budget
school_name
Bailey High School     0.127036  79.778606
Cabrera High School    0.047434  27.606740
Figueroa High School   0.075287  48.108527
Ford High School       0.069926  45.032321
Griffin High School    0.037478  23.423538
Hernandez High School  0.118330  77.151391
Holden High School     0.010901   6.333597
Huang High School      0.074470  48.778019
Johnson High School    0.121547  79.005617
Pena High School       0.024560  14.956804
Rodriguez High School  0.102093  65.033521
Shelton High School    0.044958  26.974726
Thomas High School     0.041741  26.630840
Wilson High School     0.058284  33.688384
Wright High School     0.045954  26.790911

In [59]:
# Calculate the average test scores per school from school_data_complete
per_school_math = complete_df.groupby(["school_name"]).mean("math_score")
print(per_school_math)
per_school_reading = complete_df.groupby(["school_name"]).mean("reading_score")

                       Student ID  reading_score  math_score  School ID  \
school_name
Bailey High School        20358.5      81.033963   77.048432        7.0
Cabrera High School       16941.5      83.975780   83.061895        6.0
Figueroa High School       4391.0      81.158020   76.711767        1.0
Ford High School          36165.0      80.746258   77.102592       13.0
Griffin High School       12995.5      83.816757   83.351499        4.0
Hernandez High School      9944.0      80.934412   77.289752        3.0
Holden High School        23060.0      83.814988   83.803279        8.0
Huang High School          1458.0      81.182722   76.629414        0.0
Johnson High School       32415.0      80.966394   77.072464       12.0
Pena High School          23754.5      84.044699   83.839917        9.0
Rodriguez High School     28035.0      80.744686   76.842711       11.0
Shelton High School        6746.0      83.725724   83.359455        2.0
Thomas High School        38352.0      83.848930   83.418349       14.0
Wilson High School        14871.0      83.989488   83.274201        5.0
Wright High School        25135.5      83.955000   83.682222       10.0

                         size     budget
school_name
Bailey High School     4976.0  3124928.0
Cabrera High School    1858.0  1081356.0
Figueroa High School   2949.0  1884411.0
Ford High School       2739.0  1763916.0
Griffin High School    1468.0   917500.0
Hernandez High School  4635.0  3022020.0
Holden High School      427.0   248087.0
Huang High School      2917.0  1910635.0
Johnson High School    4761.0  3094650.0
Pena High School        962.0   585858.0
Rodriguez High School  3999.0  2547363.0
Shelton High School    1761.0  1056600.0
Thomas High School     1635.0  1043130.0
Wilson High School     2283.0  1319574.0
Wright High School     1800.0  1049400.0

In [74]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
students_passing_math = complete_df[(complete_df["math_score"]>=70)]

#school_students_passing_math = <- is this another calculation? not sure but will group by school
print(students_passing_math)
school_students_passing_math = students_passing_math.groupby(["school_name"]).count()
print(school_students_passing_math)

       Student ID     student_name gender grade         school_name  \
0               0     Paul Bradley      M   9th   Huang High School
4               4       Bonnie Ray      F   9th   Huang High School
5               5    Bryan Miranda      M   9th   Huang High School
6               6    Sheena Carter      F  11th   Huang High School
8               8     Michael Roth      M  10th   Huang High School
...           ...              ...    ...   ...                 ...
39165       39165     Donna Howard      F  12th  Thomas High School
39166       39166        Dawn Bell      F  10th  Thomas High School
39167       39167   Rebecca Tanner      F   9th  Thomas High School
39168       39168     Desiree Kidd      F  10th  Thomas High School
39169       39169  Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
0                 66          79          0  District  2917  1910635
4                 97          84          0  District  2917  1910635
5                 94          94          0  District  2917  1910635
6                 82          80          0  District  2917  1910635
8                 95          87          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39165             99          90         14   Charter  1635  1043130
39166             95          70         14   Charter  1635  1043130
39167             73          84         14   Charter  1635  1043130
39168             99          90         14   Charter  1635  1043130
39169             95          75         14   Charter  1635  1043130

[29370 rows x 11 columns]
                       Student ID  student_name  gender  grade  reading_score  \
school_name
Bailey High School           3318          3318    3318   3318           3318
Cabrera High School          1749          1749    1749   1749           1749
Figueroa High School         1946          1946    1946   1946           1946
Ford High School             1871          1871    1871   1871           1871
Griffin High School          1371          1371    1371   1371           1371
Hernandez High School        3094          3094    3094   3094           3094
Holden High School            395           395     395    395            395
Huang High School            1916          1916    1916   1916           1916
Johnson High School          3145          3145    3145   3145           3145
Pena High School              910           910     910    910            910
Rodriguez High School        2654          2654    2654   2654           2654
Shelton High School          1653          1653    1653   1653           1653
Thomas High School           1525          1525    1525   1525           1525
Wilson High School           2143          2143    2143   2143           2143
Wright High School           1680          1680    1680   1680           1680

                       math_score  School ID  type  size  budget
school_name
Bailey High School           3318       3318  3318  3318    3318
Cabrera High School          1749       1749  1749  1749    1749
Figueroa High School         1946       1946  1946  1946    1946
Ford High School             1871       1871  1871  1871    1871
Griffin High School          1371       1371  1371  1371    1371
Hernandez High School        3094       3094  3094  3094    3094
Holden High School            395        395   395   395     395
Huang High School            1916       1916  1916  1916    1916
Johnson High School          3145       3145  3145  3145    3145
Pena High School              910        910   910   910     910
Rodriguez High School        2654       2654  2654  2654    2654
Shelton High School          1653       1653  1653  1653    1653
Thomas High School           1525       1525  1525  1525    1525
Wilson High School           2143       2143  2143  2143    2143
Wright High School           1680       1680  1680  1680    1680

In [75]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
students_passing_reading = complete_df[(complete_df["reading_score"]>=70)]

#school_students_passing_reading = <- is this another calculation? not sure but will group by school
print(students_passing_reading)
school_students_passing_reading = students_passing_reading.groupby(["school_name"]).count()
print(school_students_passing_reading)

       Student ID     student_name gender grade         school_name  \
1               1     Victor Smith      M  12th   Huang High School
2               2  Kevin Rodriguez      M  12th   Huang High School
4               4       Bonnie Ray      F   9th   Huang High School
5               5    Bryan Miranda      M   9th   Huang High School
6               6    Sheena Carter      F  11th   Huang High School
...           ...              ...    ...   ...                 ...
39165       39165     Donna Howard      F  12th  Thomas High School
39166       39166        Dawn Bell      F  10th  Thomas High School
39167       39167   Rebecca Tanner      F   9th  Thomas High School
39168       39168     Desiree Kidd      F  10th  Thomas High School
39169       39169  Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
1                 94          61          0  District  2917  1910635
2                 90          60          0  District  2917  1910635
4                 97          84          0  District  2917  1910635
5                 94          94          0  District  2917  1910635
6                 82          80          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39165             99          90         14   Charter  1635  1043130
39166             95          70         14   Charter  1635  1043130
39167             73          84         14   Charter  1635  1043130
39168             99          90         14   Charter  1635  1043130
39169             95          75         14   Charter  1635  1043130

[33610 rows x 11 columns]
                       Student ID  student_name  gender  grade  reading_score  \
school_name
Bailey High School           4077          4077    4077   4077           4077
Cabrera High School          1803          1803    1803   1803           1803
Figueroa High School         2381          2381    2381   2381           2381
Ford High School             2172          2172    2172   2172           2172
Griffin High School          1426          1426    1426   1426           1426
Hernandez High School        3748          3748    3748   3748           3748
Holden High School            411           411     411    411            411
Huang High School            2372          2372    2372   2372           2372
Johnson High School          3867          3867    3867   3867           3867
Pena High School              923           923     923    923            923
Rodriguez High School        3208          3208    3208   3208           3208
Shelton High School          1688          1688    1688   1688           1688
Thomas High School           1591          1591    1591   1591           1591
Wilson High School           2204          2204    2204   2204           2204
Wright High School           1739          1739    1739   1739           1739

                       math_score  School ID  type  size  budget
school_name
Bailey High School           4077       4077  4077  4077    4077
Cabrera High School          1803       1803  1803  1803    1803
Figueroa High School         2381       2381  2381  2381    2381
Ford High School             2172       2172  2172  2172    2172
Griffin High School          1426       1426  1426  1426    1426
Hernandez High School        3748       3748  3748  3748    3748
Holden High School            411        411   411   411     411
Huang High School            2372       2372  2372  2372    2372
Johnson High School          3867       3867  3867  3867    3867
Pena High School              923        923   923   923     923
Rodriguez High School        3208       3208  3208  3208    3208
Shelton High School          1688       1688  1688  1688    1688
Thomas High School           1591       1591  1591  1591    1591
Wilson High School           2204       2204  2204  2204    2204
Wright High School           1739       1739  1739  1739    1739

In [77]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = complete_df[
    (complete_df["reading_score"] >= 70) & (complete_df["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
print(school_students_passing_math_and_reading)

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [78]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [83]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({
    "School Type": school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "Percent Passing Math": per_school_passing_math,
    "Percent Passing Reading": per_school_passing_reading,
    "Percent Overall Passing": overall_passing_rate})

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

ValueError: cannot reindex on an axis with duplicate labels